.partners-background {
  background-image: url('/images/bg-fade-2.png');
  background-size: cover;
  background-position: center;
}
.contact-background, .connect-background {
  background-color: var(--color-brand-blue);
  background-image: url('/images/bg-fade-1.png');
  background-size: cover;
  background-position: center;
}
.team-background {
  background-color: var(--color-brand-beige);
  background-image: url('/images/bg-fade-3.png');
  background-size: cover;
  background-position: center;
  rotate: 180deg;
}
.team-background-2 {
  background-color: var(--color-brand-beige);
  background-image: url('/images/bg-fade-3.png');
  background-size: cover;
  background-position: center;
}