<footer class="bg-brand-blue py-10 text-center text-white p-12">
  <div class="grid grid-cols-4 gap-8">
    <div class="flex flex-col">
      <img src="/images/head-logo.svg" alt="Logo" class="w-16 mx-auto mb-4 not" />
      <p data-i18n="footer:reserved" class="text-xs text-white/50"></p>
    </div>
    <div>
      <h3 data-i18n="footer:links" class="text-xs text-white/50">s</h3>
      <ul class="list-none p-0 m-0 space-y-2 text-base">
        <li><a data-i18n="footer:links-about" href="#about" class="text-white no-underline"></a></li>
        <li><a data-i18n="footer:links-services" href="#features" class="text-white no-underline"></a></li>
        <li><a data-i18n="footer:links-careers" href="#careers" class="text-white no-underline"></a></li>
      </ul>
    </div>
    <div>
      <h3 data-i18n="footer:tos" class="text-xs text-white/50"></h3>
      <ul class="list-none p-0 m-0 space-y-2 text-base">
        <li><a data-i18n="footer:tos-policy" href="/content/policy.txt" class="text-white no-underline"></a></li>
        <!-- <li><a href="#features" class="text-white no-underline">Cookies</a></li> -->
      </ul>
    </div>
    <div>
      <h3 data-i18n="footer:contact" class="text-xs text-white/50"></h3>
      <ul class="list-none p-0 m-0 space-y-2 text-base">
        <li><a data-i18n="footer:contact-email" href="mailto:info@1-solution.ca" class="text-white no-underline"></a>
        </li>
        <li><a data-i18n="footer:contact-linkedin" href="https://www.linkedin.com/company/1-solutionpower/"
            class="text-white no-underline"></a>
        </li>
        <!-- <li><a href="#careers" class="text-white no-underline">Facebook</a></li> -->
      </ul>
    </div>
  </div>
</footer>
{{> mobile-menu }}