<div class="fixed top-0 left-0 z-[40] shadow bg-brand-orange h-1 w-full animate-scroll-progress"></div>
<header class="py-4 not-prose fixed inset-x-0 bg-brand-blue z-30">
  <div class="container flex justify-between items-center gap-20">
    <div class="flex items-center gap-75 flex-grow color-white">
      <a href="#" class="w-10 grid transition-opacity hover:opacity-75 duration-300" aria-label="Home">
        {{> logo }}
      </a>
      <nav aria-label="Main navigation" class="hidden lg:flex w-full">
        <ul class="flex gap-12 items-center list-none m-0 py-0 text-white w-full">
          {{#each menu}} {{> header-navlink url=url label=label}} {{/each}}
          <li class="hover:color-brand-orange hover:text-brand-orange ml-auto">
            <a data-i18n="header:label-language" href="#" class="navlink" onclick="switchLanguage(event)"></a>
            <script>
              function switchLanguage(event) {
                event.preventDefault();
                const currentLang = localStorage.getItem('i18nextLng') || 'fr';
                const newLang = currentLang === 'fr' ? 'en' : 'fr';
                localStorage.setItem('i18nextLng', newLang);
                location.reload();
              }
            </script>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#contact" class="btn btn-sm hidden lg:flex bg-brand-orange" role="button">
      <span data-i18n="header:contact-us"></span>
    </a>
    <button
      class="cursor-pointer rounded-full bg-gray-100 text-gray-950 p-4 flex transition-colors duration-300 hover:bg-gray-200 lg:hidden"
      data-modal-open aria-controls="modal" aria-haspopup="dialog">
      <span class="sr-only">Open Mobile Navigation</span>
      <span class="w-6">{{> icons/menu }}</span>
    </button>
  </div>
</header>