<div class="grid grid-cols-12 gap-20 text-white">
  <div class="col-span-4 w-full aspect-square">
    <img src="/images/img-optimize.jpg" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
  </div>
  <div class="col-span-8 grid gap-4 m-4">
    <h1 data-i18n="optimize:title" class="text-8xl not-prose font-bold leading-tight text-white"></h1>
    <p data-i18n="optimize:description">
    </p>
    <a data-i18n="optimize:contact-us" href="#contact" class="btn btn-sm h-fit w-fit lg:flex bg-brand-patate"
      role="button">
    </a>
  </div>
</div>