<div class="text-center lg:text-left grid gap-20 mt-20">
  <div class="grid grid-cols-3 gap-5">
    <div class="col-span-3 h-80">
      <img src="/images/focus-1.jpg" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 lg:col-span-2 h-80">
      <img src="/images/focus-2.jpg" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 lg:col-span-1 h-80">
      <img src="/images/focus-3.png" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 h-80 flex gap-5">
      <img src="/images/focus-4.png" alt="" class="w-full flex-1 h-full object-cover rounded-4xl">
      <img src="/images/focus-5.png" alt="" class="hidden lg:block w-full flex-1 h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 h-80 lg:hidden">
      <img src="/images/focus-6.png" alt="" class="w-full flex-1 h-full object-cover rounded-4xl">
    </div>
  </div>
</div>