<div class="lg:grid lg:grid-cols-12 gap-20 text-white">
  <div class="lg:col-span-4 w-full aspect-square mb-16 lg:mb-0">
    <img src="/images/img-discuss.png" alt="discuss section"
      class="w-full h-full object-cover rounded-4xl aspect-square" />
  </div>
  <div class="lg:col-span-8 gap-4 m-4">
    <div class="text-center lg:text-left">
      <h1 data-i18n="discuss:title" class="text-5xl lg:text-8xl not-prose font-bold leading-tight text-white mb-10">
      </h1>
      <p data-i18n="discuss:description">
      </p>
      <a data-i18n="discuss:contact-us" href="/contact" class="btn btn-sm h-fit w-fit lg:flex bg-brand-patate"
        role="button">
      </a>
    </div>
  </div>
</div>