<div class="grid lg:grid-cols-2 gap-32 items-center text-white">
  <div class="text-center lg:text-left">
    <h1 class="text-8xl font-bold leading-tight text-white">
      Nos Services
    </h1>
  </div>
  <div
    class="grid gap-6 place-items-center text-center lg:text-left lg:place-items-start"
  >
    <!-- prettier-ignore -->
    <p class="max-w-md !m-0">
      Nous maximisons vos outils de gestion pour développer une automatisation bonifiée 
      de vos processus de travail afin de développer la solution adéquate qui vous permettra 
      d’optimiser de vos outils et applications numériques.
    </p>
    <a href="#contact" class="btn btn-sm hidden lg:flex bg-brand-orange" role="button">
      En savoir plus
    </a>
  </div>
</div>
