<div class="grid grid-cols-1 lg:gap-6 place-items-center text-white">
  <section>
    <h1
      data-i18n="job:title"
      class="text-5xl lg:text-8xl text-white font-bold leading-tight"
    ></h1>
    {{#each @root.careers}}
    <article id="{{ id }}" class="gap-4 items-start text-left pt-4 w-full">
      <h3
        data-i18n="careers:{{ job-title-key }}"
        class="text-3xl font-semibold not-prose pb-4"
      ></h3>
      <div class="flex flex-wrap gap-2 mb-3">
        {{#each technologies}}
        <span
          class="bg-brand-light text-brand-patate px-2 py-0.5 rounded-full text-sm"
          >{{this}}</span
        >
        {{/each}}
      </div>
      <div class="flex items-center text-gray-400">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 mr-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
        <span class="text-sm" data-i18n="careers:job-location"></span>
      </div>
      <p
        class="text-gray-200 text-base pb-3"
        data-i18n="careers:{{ job-description-key }}"
      ></p>
      <div class="cursor-pointer hover:scale-105 duration-200">
        <a href="#cv" class="no-underline inline-flex gap-2">
          <h4
            data-i18n="careers:apply-now"
            class="not-prose pb-4 text-brand-orange"
          ></h4>
          <img
            src="/images/icon-arrow-1.svg"
            alt="Arrow icon"
            class="w-8 h-8 inline-block rotate-45"
          />
        </a>
      </div>
    </article>
    {{/each}}
  </section>
  <section class="pb-8">
    <h1
      data-i18n="careers:perks-title"
      class="text-5xl lg:text-8xl text-white font-bold leading-tight"
    ></h1>
    <div
      id="perks"
      class="grid grid-cols-3 lg:grid-cols-6 lg:gap-6 place-items-center"
    >
      {{#each @root.perks}}
      <article class="text-center p-4 h-32 items-center">
        <div class="flex flex-col items-center justify-between gap-4 h-full">
          <img
            src=" {{ img }}"
            alt="Feature icon"
            class="w-16 h-16 mx-auto mb-2"
          />
          <h4
            class="text-white not-prose text-sm leading-tight"
            data-i18n="job:{{ name-key }}"
          ></h4>
        </div>
      </article>
      {{/each}}
    </div>
  </section>
</div>
