<div class="grid gap-10">
  <div class="text-left">
    <h1 data-i18n="partners:title" class="text-8xl font-bold leading-tight text-white">
    </h1>
  </div>
  <div class="overflow-x-auto snap-x snap-mandatory flex space-x-8 px-4 p-8 scrollbar-hidden">
    {{#each @root.partners}}
    <article
      class="w-2/5 shrink-0 flex flex-col gap-8 place-items-start text-left rounded-xl p-8 text-white border-t-2 border-r-2 border-white">
      <p data-i18n="partners:{{ quote-key }}" class="!m-0 text-2xl font-medium">""</p>
      <div class="grid mt-auto">
        <img src="{{ logo }}" alt="" class="!mt-0 !mb-3 w-8" />
        <p data-i18n="partners:{{ name-key }}" class="!m-0 font-bold"></p>
        <p data-i18n="partners:{{ company-key }}" class="!m-0"></p>
      </div>
    </article>
    {{/each}}
  </div>
</div>