<div class="text-center lg:grid gap-12">
  <div class="lg:flex lg:flex-row gap-16 text-white">
    <div class="lg:w-1/2">
      <h1
        data-i18n="cv:title"
        class="text-5xl font-bold not-prose leading-tight lg:text-left lg:w-1/2"
      ></h1>
      <div class="text-left">
        <p data-i18n="cv:description"></p>
        <p data-i18n="cv:description-email"></p>
        <p data-i18n="cv:description-adresse"></p>
      </div>
    </div>
    <form
      name="cv"
      enctype="multipart/form-data"
      id="cv-form"
      class="flex flex-col gap-4 lg:w-1/2"
      netlify
    >
      <input
        type="text"
        id="name"
        name="name"
        required
        class="w-full border-b border-gray-300 focus:outline-none focus:border-brand-orange transition duration-300 bg-transparent px-0 py-1"
        data-i18n-placeholder="cv:form-name"
      />
      <input
        type="text"
        id="email"
        name="email"
        required
        class="w-full border-b border-gray-300 focus:outline-none focus:border-brand-orange transition duration-300 bg-transparent px-0 py-1"
        data-i18n-placeholder="cv:form-email"
      />
      <input
        type="text"
        id="subject"
        name="subject"
        required
        class="w-full border-b border-gray-300 focus:outline-none focus:border-brand-orange transition duration-300 bg-transparent px-0 py-1"
        data-i18n-placeholder="cv:form-subject"
      />
      <div class="w-full">
        <p class="text-left text-sm" data-i18n="cv:form-cv-upload"></p>
        <input
          type="file"
          id="cv-file"
          name="cv-file"
          required
          accept=".pdf,.doc,.docx"
          class="w-full border-b border-gray-300 focus:outline-none focus:border-brand-orange transition duration-300 bg-transparent px-0 py-1"
        />
      </div>
      <textarea
        id="message"
        name="message"
        required
        class="w-full border-b border-gray-300 focus:outline-none focus:border-brand-orange transition duration-300 bg-transparent px-0 py-1"
        data-i18n-placeholder="cv:form-message"
        rows="4"
      ></textarea>
      <button
        data-i18n="cv:form-submit"
        type="submit"
        class="btn btn-sm h-fit w-fit lg:flex bg-brand-patate mt-4"
        role="button"
      ></button>
    </form>
  </div>
</div>
