<div class="text-center lg:text-left grid gap-20 mt-20">
  <div class="lg:flex lg:flex-row gap-16 text-white">
    <h1 data-i18n="focus:title" class="text-5xl lg:text-8xl font-bold not-prose leading-tight lg:text-left lg:w-1/2">
    </h1>
    <p data-i18n="focus:description" class="max-w-md lg:w-1/2">
    </p>
  </div>
  <div class="grid grid-cols-3 gap-5">
    <div class="col-span-3 h-80">
      <img src="/images/placeholder.png" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 lg:col-span-2 h-80">
      <img src="/images/placeholder.png" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 lg:col-span-1 h-80">
      <img src="/images/placeholder.png" alt="Optimize section" class="w-full h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 h-80 flex gap-5">
      <img src="/images/placeholder.png" alt="" class="w-full flex-1 h-full object-cover rounded-4xl">
      <img src="/images/placeholder.png" alt="" class="hidden lg:block w-full flex-1 h-full object-cover rounded-4xl">
    </div>

    <div class="col-span-3 h-80 lg:hidden">
      <img src="/images/placeholder.png" alt="" class="w-full flex-1 h-full object-cover rounded-4xl">
    </div>
  </div>
</div>