<div class="grid grid-cols-12 gap-20 text-white">
  <div class="col-span-4 w-full aspect-square">
    <img
      src="/images/section-optimize.jpg"
      alt="Optimize section"
      class="w-full h-full object-cover rounded-4xl">
  </div>
  <div class="col-span-8 grid gap-4 m-4">
    <h1 class="text-8xl not-prose font-bold leading-tight text-white">
      Débutez votre optimisation
    </h1>
    <p>
        Nous prenons le temps de vous rencontrer, vous écouter et d’analyser vos besoins.
    </p>
    <a href="#contact" class="btn btn-sm h-fit w-fit lg:flex bg-brand-patate" role="button">
        Contactez-nous
    </a>
  </div>
</div>
