<div class="text-center  grid place-items-center gap-20">
  <div class="grid grid-cols-1 gap-16">
    {{#each @root.features}}
    <article class="flex gap-6 text-left">
      <div class="grid grid-cols-12 sm:gap-8 gap-20 items-center">
        <div class="col-span-4 sm:col-span-12 grid">
          <div class="inline-flex justify-between items-center">
            <h2 class="text-5xl font-semibold not-prose text-white">{{ title }}</h2>
            <img
              src="/images/feature-icon.svg"
              alt="Feature icon"
              class="w-16 h-16 not-prose display-inline"/>
          </div>
          <p class="!m-0 w-3/4 text-white">{{ description }}</p>
        </div>
        <div class="col-span-8 sm:col-span-12">
          <img
        src="{{ img }}"
        alt="Solution section"
        class="w-full h-80 object-cover rounded-full"
          />
        </div>
      </div>
    </article>
    {{/each}}
  </div>
</div>
